@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

ion-toolbar {
  padding: 0 !important;
}

ion-img {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
}

ion-card-header,
ion-card-content {
  text-align: start;
}

ion-footer,
ion-title {
  text-align: center;
}

ion-searchbar {
  margin: 0 auto;
  padding: 0.5rem !important;
  width: 85% !important;
}

.toolbar-container {
  margin: 0 !important;
  padding: 0 !important;
}

.popular--title {
  color: #fbbf24;
  margin-left: 2rem;
  font-weight: 500;
}

.swiper-pagination-bullet {
  display: none !important;
}

.app-header--title {
  color: #854d0e;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 1.5rem;
}

.app-header--logo {
  width: 20px;
  max-height: 100%;
}
