@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

ion-toolbar {
  padding: 0 !important;
}

ion-img {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
}

ion-card-header,
ion-card-content {
  text-align: start;
}

ion-footer,
ion-title {
  text-align: center;
}

ion-searchbar {
  margin: 0 auto;
  padding: 0.5rem !important;
  width: 85% !important;
}

.toolbar-container {
  margin: 0 !important;
  padding: 0 !important;
}

.popular--title {
  color: #fbbf24;
  margin-left: 2rem;
  font-weight: 500;
}

.swiper-pagination-bullet {
  display: none !important;
}

.app-header--title {
  color: #854d0e;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 1.5rem;
}

.app-header--logo {
  width: 20px;
  max-height: 100%;
}

.app-footer--container {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: #e4e4e7;
}

.search-bar {
  background-color: #fafafa;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border: none;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  width: 60%;
}

.search-button {
  padding: 0.625rem 1rem 0.625rem 1rem;
  color: #fff;
  background-color: #a1a1aa;
  height: 2rem;
  font-weight: 500;
  outline: none !important;
  border: none !important;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
}

.search-button:active {
  background: #52525b;
  box-shadow: inset 1px 1px 1px #c1c1c1;
  outline: none;
}
